
@{
    ViewData["Title"] = "Upload Baplie";
}

<h1>eBaplie</h1>
<div class="text-center">
    <p>Looking for an innovative tool that can help you easily parse BAPLIE files and visualize container data in a 3D model? Look no further than eBaplie, the cutting-edge solution for container management!<br />

With eBaplie, you can quickly and easily upload BAPLIE files and visualize container data in a 3D model. Each container can be clicked on to view detailed information about its contents, making it easy to keep track of inventory and ensure efficient container management.<br />

But that's not all – eBaplie also allows you to export container data to Excel, providing you with a detailed list of all containers and their associated information. eBaplie is the ideal solution for simplifying the management process and ensuring maximum efficiency.<br />

So why wait? Sign up for eBaplie today and take your container management to the next level!</p>
</div>
